<div class="main-content">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title ">Stolen Vehicles</h4>
                    <p class="card-category">Together we are stronger!!!</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <th>
                                    Type
                                </th>
                                <th>
                                    Coutry
                                </th>
                                <th>
                                    City
                                </th>
                                <th>
                                    Date
                                </th>
                                <th>
                                    Serial Number
                                </th>
                                <th>
                                    Photo
                                </th>
                                <th>
                                    Profile
                                </th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Bike
                                    </td>
                                    <td>
                                        Romania
                                    </td>
                                    <td>
                                        Arad
                                    </td>
                                    <td>
                                        12/06/2020
                                    </td>
                                    <td class="text-primary">
                                        367389090
                                    </td>
                                    <td>
                                        BikePhoto
                                    </td>
                                    <td>
                                        Godzilla
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        SkateBoard
                                    </td>
                                    <td>
                                        Romania
                                    </td>
                                    <td>
                                        Timisoara
                                    </td>
                                    <td>
                                        10/06/2020
                                    </td>
                                    <td class="text-primary">
                                        3003030303
                                    </td>
                                    <td>
                                        SkateBoardPhoto
                                    </td>
                                    <td>
                                        Rex
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Waveboard
                                    </td>
                                    <td>
                                        Romania
                                    </td>
                                    <td>
                                        Oradea
                                    </td>
                                    <td>
                                        09/06/2020
                                    </td>
                                    <td class="text-primary">
                                        9099999999
                                    </td>
                                    <td>
                                        RollsPhoto
                                    </td>
                                    <td>
                                        Spicky
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>