<div class="main-content">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title ">Stolen Vehicles</h4>
                    <p class="card-category">Together we are stronger!!!</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <th>
                                    Type
                                </th>
                                <th>
                                    Coutry
                                </th>
                                <th>
                                    City
                                </th>
                                <th>
                                    Date
                                </th>
                                <th>
                                    Serial Number
                                </th>
                                <th>
                                    Photo
                                </th>
                                <th>
                                    Profile
                                </th>
                            </thead>
                            <tbody *ngFor="let vehicle of vehicles">
                                <tr>
                                    <td>
                                        {{vehicle.id}}
                                    </td>
                                    <td>
                                        {{vehicle.country}}
                                    </td>
                                    <td>
                                        {{vehicle.city}}
                                    </td>
                                    <td>
                                        {{vehicle.date}}
                                    </td>
                                    <td class="text-primary">
                                        {{vehicle.serialNumber}}
                                    </td>
                                    <td>
                                        {{vehicle.description}}
                                    </td>
                                    <td>
                                        {{vehicle.profileContact}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>