<div class="main-content">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title ">Stolen Vehicles</h4>
                    <p class="card-category">Together we are stronger!!!</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <th>
                                    Type
                                </th>
                                <th>
                                    Coutry
                                </th>
                                <th>
                                    City
                                </th>
                                <th>
                                    Date
                                </th>
                                <th>
                                    Serial Number
                                </th>
                                <th>
                                    Photo
                                </th>
                                <th>
                                    Profile
                                </th>
                            </thead>
                            <tbody *ngFor="let vehicle of vehicles">
                                <tr>
                                    <td>
                                        {{vehicle.type}}
                                    </td>
                                    <td>
                                        {{vehicle.country}}
                                    </td>
                                    <td>
                                        {{vehicle.city}}
                                    </td>
                                    <td>
                                        {{vehicle.date}}
                                    </td>
                                    <td class="text-primary">
                                        {{vehicle.serialNumber}}
                                    </td>
                                    <td>
                                        {{vehicle.photoLink}}
                                    </td>
                                    <td>
                                        {{vehicle.profileContact}}
                                    </td>
                                    <td>
                                        <button mat-raised-button type="submit" class="btn btn-danger pull-right" *ngIf="checkIfMine(vehicle.userId)" (click)="deleteVehicle(vehicle.id)">Delete</button>       

                                        <button mat-raised-button type="submit" class="btn btn-warning pull-right" *ngIf="checkIfMine(vehicle.userId)" (click)="updateObject(vehicle)">Update</button>       
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="addStolenVehicle()" *ngIf="!register">Add Vehicle</button>
        <div class="row" *ngIf="register">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Add Stolen Vehicle</h4>
                        <p class="card-category">Complete your profile</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="type">Type</label><br>
                                    <mat-form-field class="example-full-width">
                                        <input name="type" matInput placeholder="Stolen Vehicle" type="text" [(ngModel)]="stolenVehicle.type">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <label for="date">Date</label><br>
                                    <mat-form-field class="example-full-width">
                                        <input name="date" matInput placeholder="Date" type="text" [(ngModel)]="stolenVehicle.date">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="country">Country</label><br>
                                    <mat-form-field class="example-full-width">
                                        <input name="country" matInput placeholder="Country" [(ngModel)]="stolenVehicle.country">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <label for="city">City</label><br>
                                    <mat-form-field class="example-full-width">
                                        <input name="city" matInput placeholder="city" [(ngModel)]="stolenVehicle.city">
                                    </mat-form-field>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="serialNumber">SerialNumber</label><br>
                                    <mat-form-field class="example-full-width">
                                        <input name="serialNumber" matInput placeholder="serialNumber" type="text" [(ngModel)]="stolenVehicle.serialNumber">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <label for="photoLink">Photo</label><br>
                                    <mat-form-field class="example-full-width">
                                        <input name="photoLink" matInput placeholder="photoLink" type="text" [(ngModel)]="stolenVehicle.photoLink">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="profileContact">Contact</label><br>
                                    <mat-form-field class="example-full-width">
                                        <textarea name="profileContact" matInput placeholder="Phone Number" [(ngModel)]="stolenVehicle.profileContact"></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="cancelAddingVehicle()">Cancel</button>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="registerVehicle()">Register Vehicle</button>       
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="update">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Update {{updateStolenVehicle.type}} Vehicle</h4>
                        <p class="card-category">Complete your profile</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="type">Type</label><br>
                                    <mat-form-field class="example-full-width">
                                        <input name="type" matInput placeholder="Stolen Vehicle" type="text" [(ngModel)]="updateStolenVehicle.type">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <label for="date">Date</label><br>
                                    <mat-form-field class="example-full-width">
                                        <input name="date" matInput placeholder="Date" type="text" [(ngModel)]="updateStolenVehicle.date">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="country">Country</label><br>
                                    <mat-form-field class="example-full-width">
                                        <input name="country" matInput placeholder="Country" [(ngModel)]="updateStolenVehicle.country">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <label for="city">City</label><br>
                                    <mat-form-field class="example-full-width">
                                        <input name="city" matInput placeholder="city" [(ngModel)]="updateStolenVehicle.city">
                                    </mat-form-field>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="serialNumber">SerialNumber</label><br>
                                    <mat-form-field class="example-full-width">
                                        <input name="serialNumber" matInput placeholder="serialNumber" type="text" [(ngModel)]="updateStolenVehicle.serialNumber">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <label for="photoLink">Photo</label><br>
                                    <mat-form-field class="example-full-width">
                                        <input name="photoLink" matInput placeholder="photoLink" type="text" [(ngModel)]="updateStolenVehicle.photoLink">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="profileContact">Contact</label><br>
                                    <mat-form-field class="example-full-width">
                                        <textarea name="profileContact" matInput placeholder="Phone Number" [(ngModel)]="updateStolenVehicle.profileContact"></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="cancelAddingVehicle()">Cancel</button>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="updateVehicle(updateStolenVehicle.id)">Update Vehicle</button>       
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>