<div class="main-content">
    <div class="container-fluid" *ngIf="inGuild">
        <div class="row">
        <div class="col-md-4">
            <div class="card card-profile">
                <div class="card-avatar">
                    <a href="javascript:void(0)">
                        <img class="img" src="./assets/img/profilePicture.png" />
                    </a>
                </div>
                <div class="card-body">
                    <h6 class="card-category text-gray">CEO / {{guild.name}}</h6>
                    <h4 class="card-title">{{guild.leaderUsername}}</h4>
                    <p class="card-description">
                        Let's conquer the world
                    </p>
                    <!-- <a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a> -->
                </div>
            </div>
        </div>
        <div class="col-md-8">
        <table class="table">
            <tbody>
                <tr>
                    <td style="color:red;"><b>{{guild.name}} guild rules:</b></td>
                    <br>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td>Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td>Create 4 Invisible User Experiences you Never Knew About</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
        <div class="col-md-12">
            <div class="card card-plain">
                <div class="card-header card-header-danger">
                    <h4 class="card-title mt-0"> Guild User Ranking</h4>
                    <p class="card-category"> Be the best, be yourself!!!</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="">
                                <th>
                                    Rank
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Country
                                </th>
                                <th>
                                    City
                                </th>
                                <th>
                                    XP
                                </th>
                            </thead>
                            <tbody *ngFor="let user of users">
                                <tr>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        {{user.username}}
                                    </td>
                                    <td>
                                        {{user.country}}
                                    </td>
                                    <td>
                                        {{user.city}}
                                    </td>
                                    <td>
                                        {{user.phoneNumber}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" *ngIf="!inGuild">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-body">
                        <h4 class="card-category text-gray">Not enrolled in any Guild</h4>
                        <h2 class="card-title">wow</h2>
                        <h4 class="card-title">Do you want to change the world?</h4>
                        <button mat-raised-button class="btn btn-danger btn-block btn-lg" (click)="displayGuildCreate()">Create Guild</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="createGuildBool">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">Add New Guild</h4>
                    <p class="card-category">Let's do it</p>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="name">SerialNumber</label><br>
                                <mat-form-field class="example-full-width">
                                    <input name="name" matInput placeholder="serialNumber" type="text" [(ngModel)]="newGuild.name">
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <label for="city">Photo</label><br>
                                <mat-form-field class="example-full-width">
                                    <input name="city" matInput placeholder="photoLink" type="text" [(ngModel)]="newGuild.city">
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <label for="country">Photo</label><br>
                                <mat-form-field class="example-full-width">
                                    <input name="country" matInput placeholder="photoLink" type="text" [(ngModel)]="newGuild.country">
                                </mat-form-field>
                            </div>
                        </div>                  
                        <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="cancelAddingGuild()">Cancel</button>
                        <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="addGuild()">Register Guild</button>       
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>