<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Guild Ranking</h4>
                        <p class="card-category">Together we are stronger!!!</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Rank
                                    </th>
                                    <th>
                                        Guild
                                    </th>
                                    <th>
                                        Leader
                                    </th>
                                    <th>
                                        Members
                                    </th>
                                    <th>
                                        XP
                                    </th>
                                </thead>
                                <tbody *ngFor="let guild of guilds">
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            {{guild.name}}
                                        </td>
                                        <td>
                                            {{guild.leaderUsername}}
                                        </td>
                                        <td>
                                            {{guild.country}}
                                        </td>
                                        <td class="text-primary">
                                            {{guild.totalXP}}
                                        </td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title mt-0"> User Ranking</h4>
                        <p class="card-category"> Be the best, be yourself!!!</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="">
                                    <th>
                                        Rank
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Country
                                    </th>
                                    <th>
                                        City
                                    </th>
                                    <th>
                                        XP
                                    </th>
                                </thead>
                                <tbody *ngFor="let user of users">
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            {{user.username}}
                                        </td>
                                        <td>
                                            {{user.country}}
                                        </td>
                                        <td>
                                            {{user.city}}
                                        </td>
                                        <td>
                                            {{user.phoneNumber}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>