
<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">content_copy</i>
                      </div>
                      <p class="card-category">Daily Distance</p>
                      <h3 class="card-title">{{dashboard.dailyXp}}
                          <small>XP</small>
                      </h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons text-danger">warning</i>
                          <a href="javascript:void(0)">Get More Space...</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">store</i>
                      </div>
                      <p class="card-category">Weekly Distance</p>
                      <h3 class="card-title">{{dashboard.weeklyXp}} 
                        <small>XP</small>
                      </h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">date_range</i> Last 24 Hours
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">info_outline</i>
                      </div>
                      <p class="card-category">Monthly Distance</p>
                      <h3 class="card-title">{{dashboard.monthlyXp}}  
                        <small>XP</small>
                      </h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">local_offer</i> Tracked from Github
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                        <i class="material-icons">store</i>
                      </div>
                      <p class="card-category">Yearly Distance</p>
                      <h3 class="card-title">{{dashboard.yearlyXp}}  
                        <small>XP</small>
                      </h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">update</i> Just Updated
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-6">
              <div class="card card-chart">
                  <div class="card-header card-header-success">
                      <div class="ct-chart" id="dailySalesChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Daily XP</h4>
                      <!-- <p class="card-category">
                          <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p> -->
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> Xp for the last 7 days
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="card card-chart">
                <div class="card-header card-header-danger">
                      <div class="ct-chart" id="websiteViewsChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Monthly XP</h4>
                      <!-- <p class="card-category">Last Campaign Performance</p> -->
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> Xp for the last 12 months
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-md-10 ml-auto mr-auto">
            <div class="row">
                <div class="col-md-4">
                    <button mat-raised-button class="btn btn-warning btn-block btn-lg" disabled >Choose a workout:</button>
                </div>
            </div>
        </div>        
      </div>
      <div class="row">
        <div class="col-lg-8 col-md-10 ml-auto mr-auto">
            <div class="row">
                <div class="col-md-4">
                    <button mat-raised-button class="btn btn-danger btn-block btn-lg" (click)="workout('walk')" >Walk</button>
                </div>
                <div class="col-md-4">
                    <button mat-raised-button class="btn btn-danger btn-block btn-lg" (click)="workout('jogging')">Jogging</button>
                </div>
                <div class="col-md-4">
                    <button mat-raised-button class="btn btn-danger btn-block btn-lg" (click)="workout('run')">Run</button>
                </div>
            </div>
        </div>        
      </div>
      <div class="row">
        <div class="col-lg-8 col-md-10 ml-auto mr-auto">
            <div class="row">
                <div class="col-md-4">
                    <button mat-raised-button class="btn btn-danger btn-block btn-lg" (click)="workout('bike')">Bike</button>
                </div>
                <div class="col-md-4">
                    <button mat-raised-button class="btn btn-danger btn-block btn-lg" (click)="workout('skateboard')">Skateboard</button>
                </div>
                <div class="col-md-4">
                    <button mat-raised-button class="btn btn-danger btn-block btn-lg" (click)="workout('rolls')">Rolls</button>
                </div>
            </div>
        </div>        
      </div>
  </div>
</div>
